html body{
  background-image: url(image/sianok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
  scroll-behavior: smooth;
}

#container {
    background: linear-gradient(180deg, rgb(34, 40, 49, 0.9), rgb(34, 40, 49));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

#fixed {
  grid-column: 1;
}

#right {
  grid-column: 2 / span 3;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(34, 40, 49, 0.6);
  border-radius: 0.25rem;
  padding: 0.5rem 3rem 0rem 3rem;
  margin-top: 2.5rem;
  margin-right: 10rem;
  padding-bottom: 0.1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#home #welcome {
  grid-column: 1 / span 2;
  margin-top: 1rem;
}

#welcome h2 {
    margin: 0.5rem 0rem 0.5rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(238, 238, 238);
}

#welcome p {
  font-size: 1.25rem;
  color: rgb(238, 238, 238);
  margin-bottom: 2.5rem;
}

#univ {
  color: #fd7014;
}

#welcome a {
  text-decoration: none;
  padding: 1rem 2.5rem;
  background-color: #393e46;
  font-size: 1rem;
  color: #eeeeee;
  scroll-behavior: smooth;
}

#welcome a:hover {
    color: #ffffff;
  background-color: #fd7014;
  transition: 0.4s;
}

#welcome-pict img {
  width: 20rem;
  height: 20rem;
  margin-top: -4rem;
  margin-bottom: 0rem;
}

#about {
  margin-right: 100px;
  margin-left: 30px;
  display: grid;
  text-align: center;
  object-position: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 20px;
}

#about h2 {
    text-align: center;
  grid-column: 1 / span 3;
  margin-top: 2rem;
  margin-left: -5rem;
  font-size: xx-large;
  font-weight: 600;
  color: #eeeeee;
}

#about div {
    text-align: center;
    object-position: center;
    align-items: center;
  margin-right: 3.5rem;
  margin-left: -1.5rem;
}

#about div img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center;
}

#about div h3 {
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

#about div p {
  text-align: center;
  color: #7f8286;
  font-size: 1rem;
  margin-bottom: 3rem;
}

#experience {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.75rem 0rem 2rem 0rem;
}

#experience h2 {
    text-align: center;
    margin: -3rem 10rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(238, 238, 238);
}

#journey #desc #track p {
  color: #7f8286;
}

#desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 0rem;
}

#desc #year {
    text-align: center;
    margin-right: 5rem;
  color: rgb(238, 238, 238);
  border-right: 0.15rem solid #eeeeee;
}

#desc #track {
  margin-left: 4rem;
  color: rgb(238, 238, 238);
}

#desc #track p {
  color: rgb(238, 238, 238);
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 4rem;
  margin-left: 2rem;
  margin-right: -60rem;
}

#projects h2 {
  color: rgb(238, 238, 238);
  grid-column: 1 / span 3;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info {
  background-color: rgb(34, 40, 49, 0.6);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  text-align: right;
  margin-bottom: 20px;
}

.info h4 {
  color: #eeeeee;
  text-align: left;
  margin: -5x 0px;
}

.info p {
  color: #7f8286;
  text-align: left;
}

.info a {
  text-align: right;
  text-decoration: none;
  background-color: #393e46;
  border-style: none;
}

.info a:hover{
    background-color: #7f8286;
}
