/* The Separation of CSS Solemnly Just to Make a clear code within the HTML */
/* Fixed.css used to display some information on the left of the page*/

* {
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}

#fixed {
  position: absolute;
  width: 20%;
  height: 185%;
  margin-top: 2.5rem;
  margin-left: 2rem;
  background-color: #222831;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#fixed-card {
  background-color: #393e46;
  padding-bottom: 0.5rem;
  text-align: center;
}

#fixed-card img {
  width: 5rem;
  height: 5rem;
  margin-top: 1.25rem;
  border-radius: 6rem;
}

#fixed-card p {
  margin-top: 0rem;
  color: #7f8286;
}

#fixed-card h5 {
  margin-top: 1rem;
  color: #eeeeee;
  font-weight: 590;
}

#fixed-stats li {
  margin-bottom: -0.5rem;
  margin-left: -2rem;
  margin-right: -1rem;
}

#fixed-stats hr {
  border: 0.1rem solid #393e46;
}

#fixed-stats {
  padding-bottom: 0.5rem;
  margin: 0px 1.25rem;
}

#fixed-stats #desc-self ol {
  list-style: none;
  padding: 2rem 0rem 0rem 2rem;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
}

#fixed-stats #desc-self{
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 3rem;
}

#fixed-stats #desc-self ol span {
  color: #7f8286;
  margin: 1rem 0rem;
}

#fixed-stats #fixed-skills h5{
  color: #eeeeee;
  text-align: center;
  margin-bottom: 1rem;
  font-weight:400;
}

.modified{
  background-color: #393e46;
}

.accordion-item .accordion-header .accordion-button{
  background-color: #eeeeee;
  color: #393e46;
}

#fixed-bar {
  padding: 0rem 0rem 1rem 0rem;
}

#fixed-bar p {
  color: #eeeeee;
  margin: 1rem 0rem 0.2rem 0rem;
}

#fixed-stats ul {
  color: #7f8286;
  list-style-type: "\2714     ";
  list-style-position: outside;
  padding: 0rem 1.25rem 1.5rem 4rem;
}

#fixed-stats ul li {
  padding-top: 1rem;
}

#fixed-stats a {
  text-decoration: none;
  margin: 1rem 0px;
  padding-top: 1rem;
  padding-bottom: 5rem;
  color: #7f8286;
}

#fixed-stats #cv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#fixed-stats #cv a {
  grid-column: 1 / span 2;
}

#fixed-stats #cv svg {
  margin-left: -0.75rem;
}

#fixed #contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  gap: 10px 35px;
  background-color: #393e46;
  padding: 20px 20px;
}
